<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../static/lib_scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../static/lib_scripts/velocity.min.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <meta charset="UTF-8">
    <title>RealPrice</title>
</head>

<body>
<div id="header">
    <img class="logo" src="../static/images/RealPriceLogo.gif">
</div>
    <div id="main" class="main_div">
        <div id="map"><img src="../static/images/google-maps-placeholder.jpg" width="100%"></div>
        <div id="listings">
            <div id="listing 9" class="listing drop-shadow"><img src="../static/images/9.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 1" class="listing drop-shadow"><img src="../static/images/1.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 2" class="listing drop-shadow"><img src="../static/images/2.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 3" class="listing drop-shadow"><img src="../static/images/3.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 4" class="listing drop-shadow"><img src="../static/images/4.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 5" class="listing drop-shadow"><img src="../static/images/5.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 6" class="listing drop-shadow"><img src="../static/images/6.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 7" class="listing drop-shadow"><img src="../static/images/7.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
            <div id="listing 8" class="listing drop-shadow"><img src="../static/images/8.jpg" class="listImg"> 1234 Easy
                St.
                <div id="price">$400,000</div>
            </div>
        </div>
    </div>
</body>
</html>